<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<add name="IMSDatabase"
			 connectionString="Data Source=den1.mssql8.gear.host;
                           Initial Catalog=dbsp;
                           User ID=dbsp;
                           Password=Xh7VU_?vMs8V;
                           TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>